<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comments</title>
  </head>
  <body>
    <main>comments</main>
    <ul>
      <% for(let commnet of comments) { %>
      <li>
        <h3><%= commnet.username %></h3>
        <h3><%= commnet.comment %></h3>
      </li>
      <% } %>
    </ul>
  </body>
</html>
