h1 {
  background-color: #2a9d8f;
  border: 5px solid #264653;
  color: #eae2b7;
  padding: 0.7em;
  width: 300px;
  font-size: 1.8em;
  text-align: center;
  margin: 20px auto;
  font-family: Courier New;
  font-weight: lighter;
}

h1:nth-of-type(2n) {
  background-color: #e9c46a;
}

h1:nth-of-type(3n) {
  background-color: #f4a261;
}

h1:nth-of-type(4n) {
  background-color: #e76f51;
}

section:first-of-type h1:nth-of-type(1) {
  /* transform-origin: top left; */
  transform: rotate(45deg);
}

section:first-of-type h1:nth-of-type(2) {
  transform: scale(2, 1);
}

section:first-of-type h1:nth-of-type(3) {
  transform: translateX(200px);
}

section:first-of-type h1:nth-of-type(4) {
  transform: translate(-100px, 50px);
}

#section1 div {
  height: 100px;
  width: 300px;
  background-color: blueviolet;
  margin: 60px auto;
  transform: skewX(30deg);
  /* 
  SkewX means for an element 
  X axis will reamin constant 
  and 
  Y axis will rotate 30 deg
  */
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  color: aliceblue;
}

#section2 div {
  height: 300px;
  width: 100px;
  background-color: brown;
  margin: 60px auto;
  transform: skewY(30deg);
  /* 
  SkewY means for an element 
  Y axis will reamin constant 
  and 
  X axis will rotate 30 deg
  */
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  color: aliceblue;
}
