<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= noSubredit %></title>
  </head>
  <body>
    <h1>there is no subredit with this name <%= noSubredit %></h1>
    <h2>Please check once again</h2>
  </body>
</html>
