<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= subredit %></title>
  </head>
  <body>
    <h1>we are right now using <%= subredit %> subredit</h1>
  </body>
</html>
