<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>random number page</title>
  </head>
  <body>
    <h1>Your random number is :- <%= parseInt(Math.random() * 10000)+0 %></h1>
    <h2>get random number via js :- <%= rand %></h2>
    <h2>Alternate way to get random number via js :- <%= randomNumber2 %></h2>
  </body>
</html>
